@charset 'UTF-8';
@import 'mixins';

// @include font-face('fontName', '../fonts/fontPath/fontName', normal); 

.icon {
	display: inline-block;
	width: 2em;
	height: 2em;
	font-size: 30px;
}

* {
	box-sizing: border-box;
}

svg {
	max-width: 263px;
}

.anime1 {
	.dog {
		animation: catdog 2s linear 0s forwards infinite alternate-reverse;
	}

	.cat {
		animation: catdog 2s linear 1s forwards infinite alternate-reverse;
	}

	.woman {
		animation: 1.5s Infinite linear woman;
		animation-delay: 0s;
		transform-origin: 50% 50%;
	}

	.heart {
		animation: 1.5s Infinite ease-in-out heart alternate-reverse;
	}
}

@keyframes woman {
	0% { transform: rotate( 0deg ); } 
	25% { transform: rotate( 1deg ); } 
	75% { transform: rotate( -1deg ); } 
}

@keyframes catdog {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		transform: translatey(0px);
	}
}

@keyframes heart {
	from { transform: translate(0,0); } 
	to { transform: translate(10px, -10px); } 
}