@charset 'UTF-8';
@import 'mixins';

// @include font-face('fontName', '../fonts/fontPath/fontName', normal); 

.icon {
	display: inline-block;
	width: 2em;
	height: 2em;
	font-size: 30px;
}

* {
	box-sizing: border-box;
}

svg {
	max-width: 263px;
}

.anime1 {
	.dog {
		animation: catdog 8s linear 0s forwards infinite;
	}

	.cat {
		animation: catdog 8s linear 1s forwards infinite;
	}

	.woman {
		animation: 8s Infinite linear woman;
		animation-delay: 0s;
		transform-origin: 50% 50%;
	}

	.heart {
		animation: 1.5s Infinite ease-in-out heart alternate-reverse;
	}
}

@keyframes woman {
	0% { transform: rotate( 0deg ); } 
	15% { transform: rotate( 1deg ); } 
	25% { transform: rotate( -1deg ); } 
	30% { transform: rotate( 1deg ); } 
	35% { transform: rotate( -1deg ); } 
	40% { transform: rotate( 1deg ); } 
	45% { transform: rotate( -1deg ); } 
	50% { transform: rotate( 1deg ); } 
	55% { transform: rotate( -1deg ); } 
	60% { transform: rotate( 1deg ); } 
	65% { transform: rotate( -1deg ); } 
	70% { transform: rotate( 1deg ); } 
	75% { transform: rotate( -1deg ); }
	80% { transform: rotate( 1deg ); } 
	85% { transform: rotate( -1deg ); }  
}

@keyframes catdog {
	0% { transform: translatey(0px); }
	5% { transform: translateY(-10px); }
	10% { transform: translatey(0px); }
}

@keyframes heart {
	from { transform: translate(0,0); } 
	to { transform: translate(10px, -10px); } 
}